.react-calendar {
  background: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  margin: auto;
}

.react-calendar__tile--now {
  background: #f0f0f0;
}

.react-calendar__tile--active {
  background: #fc6c0f;
  color: white !important;
}

.react-calendar__tile {
  color: black;
}

.react-calendar__navigation {
  color: black;
}

.react-calendar__navigation button {
  color: black;
  background: transparent;
  font-weight: bold;
}

.react-calendar__navigation button:disabled {
  color: #ccc;
}
